@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    }
    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    
    body {
    line-height: 1;
    font-family: 'Rubik', sans-serif;
    
    line-height: 1.5;
    }
    
    ol, ul {
    list-style: none;
    }
    
    blockquote, q {
    quotes: none;
    }
    
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    
    a {
    color:inherit;
    text-decoration: none;
    }
    
    img {
    width: 100%;
    display: inline-block;
    }

h1 {
    font-size: 3rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.019);
    text-align: center;
    position: relative;
}

.section__button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color:rgb(1, 178, 237);
    color:white;
    font-size: 1rem;
    font-weight: 600;

    transition: all .3s;
}

.section__button:hover {
    opacity: .6;
    cursor: pointer;
}

.section input {
    width: 100%;
    padding: 1rem;
    border:none;
    border-bottom: 5px solid black;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px 5px 0 0;

    transition: all .2s;
}

.section input:hover, .section input:focus {
    border:none;
    outline: none;
    border-bottom: 5px solid rgb(1, 178, 237);
    background-color: aliceblue;
}

.section #resultado {

}

.section #estadisticas {
    font-size: 1rem;
    background-color: aliceblue;
    padding: 1rem 2rem;
    border-radius: 5px;
    position: absolute;
    bottom: -1.5rem;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.03);

}

.section .borrarDatos {
    background-color:rgb(255, 118, 118);
    border: none;
    border-radius: 3px;
    padding: .5rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    color: white;

    transition: all .2s;
}

.section .borrarDatos:hover {
    background-color: white;
    color:rgb(255, 118, 118);

    cursor: pointer;
}

.correcto {
    background-color: rgb(227, 253, 227);
    border-radius: 5px;
    padding: .5rem 2rem;
}

.incorrecto {
    background-color: rgb(253, 227, 227);
    border-radius: 5px;
    padding: .5rem 2rem;
}